/* styles.module.css */
.title {
  font-size: 48px;
  /* font-family: "Roboto"; */

  display: flex;
  justify-content: center;

  text-shadow: rgb(199, 174, 174) 0px 5px 4px;
}

.description {
  font-style: italic;

  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 0.5rem;
}

.time {
  font-size: large;

  display: flex;
  justify-content: center;
  text-align: center;

  margin-top: 0.5rem;

  text-shadow: rgb(0, 0, 0) 0px 1px 1px;
}

.categories {
  font-size: 24px;
  font-style: inherit;
  font-weight: bold;

  display: flex;
  justify-content: center;
  text-align: center;

  margin-top: 1rem;

  text-shadow: rgb(199, 174, 174) 0px 2px 2px;
}

.cards {
  border-width: 4px;
  border-color: black;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

  margin: 4px;
  width: 35rem;
  height: 34rem;
}
