/* Navigation.module.css */
.navContainer {
  background-color: #333;
  padding: 0.8rem 0;
}

.navContainer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navContainer li {
  margin: 0;
}

.navContainer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: color 0.6s;
}

.navContainer a:hover {
  color: #007bff;
}

/* Searchbar */
.searchContainer {
  display: flex;
  align-items: center;
  height: 1rem;
}

.searchInput {
  padding: 4px;
  margin-top: 0.5rem;
  border: 1px solid #333;
  border-radius: 4px;
  height: 1.8rem;
}

.searchButton {
  background-color: #007bff;
  margin-top: 0.5rem;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;

  transition: background-color 0.6s;
}

.searchButton:hover {
  background-color: #000000;
}
